<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mobi.gpsmarker.gpsmarkercommander">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".utils.GPSMarkerCommanderApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity">
<!--                <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.activities.control_activity">
        </activity>
        <activity android:name=".ui.activities.settings_m180_activity">
<!--            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>-->
        </activity>
        <activity android:name=".ui.activities.viewtrack_activity">
        </activity>
        <activity android:name=".ui.activities.AuthActivity">
                <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

        <activity android:name=".ui.activities.m180.M180ChangeNameActivity">
        </activity>
            <activity android:name=".ui.activities.m180.M180ListPhonesActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180ListAlarmActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180SettingTempIntervalActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180ChangeModeTempSignalActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180SettingOperationCellularActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180SettingMonitoringServerActivity">
        </activity>
        <activity android:name=".ui.activities.m180.M180GeoPointActivity">
        </activity>
    </application>

</manifest>