<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="mobi.gpsmarker.gpsmarkercommander">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".utils.GPSMarkerCommanderApp"
        android:allowBackup="true"
        android:icon="@drawable/gpsmarker"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait">

            <!--
                    <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activities.control_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.M180SettingsActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait">

            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".ui.activities.viewtrack_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.AuthActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" android:parentActivityName=".ui.activities.MainActivity" android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activities.m180.M180ChangeNameActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180ListPhonesActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180ListAlarmActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180SettingTempIntervalActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180ChangeModeTempSignalActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180SettingOperationCellularActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180SettingMonitoringServerActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.m180.M180GeoPointActivity"
            android:parentActivityName=".ui.activities.M180SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.UserRegistrationActivity"
            android:parentActivityName=".ui.activities.AuthActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activities.AddDeviceActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.UserRememberPasswordActivity"
                  android:parentActivityName=".ui.activities.AuthActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.UserChangeDataActivity"
                  android:parentActivityName=".ui.activities.MainActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".ui.activities.UserChangePasswordActivity"
                  android:parentActivityName=".ui.activities.MainActivity"
                  android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>